### Local RAG Workflow with Db2 and llama.cpp

This notebook demonstrates a complete Retrieval-Augmented Generation (RAG) pipeline running on a local system:

* **Embeddings** are generated locally using the Granite model served via `llama.cpp`
* **Vector search** is performed in Db2 using built-in `VECTOR` functions
* **Context retrieval** and **prompt construction** are handled locally
* Only the **final text generation** step uses a hosted LLM (Mistral) via Watsonx.ai

By keeping embedding generation and prompting local, the workflow reduces latency, avoids cloud dependency for sensitive data, and offers more control over the overall process.

**Setup and Requirements**
For installation steps and additional context, see the accompanying [README.md](./README.md).

## Step 0: Imports

In [1]:
# Core libraries
import os
import pandas as pd

# Environment variables
from dotenv import load_dotenv, dotenv_values

# NLP and embeddings
import spacy
import trafilatura
from llama_cpp import Llama

# Watsonx AI
from ibm_watsonx_ai.metanames import GenTextParamsMetaNames as GenParams, EmbedTextParamsMetaNames

# LangChain components
from langchain_ibm import WatsonxLLM
# from langchain.text_splitter import RecursiveCharacterTextSplitter
# from langchain_community.document_loaders import WebBaseLoader
# from langchain.chains import RetrievalQA
# from langchain.prompts import PromptTemplate

# Notebook display utilities
from IPython.display import display, Markdown

if not os.path.isfile('db2.ipynb'):
    os.system('wget https://raw.githubusercontent.com/IBM/db2-jupyter/master/db2.ipynb')

%run db2.ipynb

<>:1708: SyntaxWarning: invalid escape sequence '\s'
<>:2305: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_389282/2299624180.py:1708: SyntaxWarning: invalid escape sequence '\s'
  firstCommand = "(?:^\s*)([a-zA-Z]+)(?:\s+.*|$)"
/tmp/ipykernel_389282/2299624180.py:2305: SyntaxWarning: invalid escape sequence '\?'
  pattern = "\?\*[0-9]+"

Db2 Extensions Loaded. Version: 2024-09-16

## Step 1: Web Content Extraction

In [ ]:
url = 'https://community.ibm.com/community/user/blogs/shaikh-quader/2024/05/07/building-an-in-db-linear-regression-model-with-ibm'
downloaded = trafilatura.fetch_url(url)

if downloaded:
    article = trafilatura.extract(downloaded)
    print(article[:1000])  # Preview first 1000 chars
else:
    print("Failed to fetch content.")

Despite being one of the earlier machine learning techniques, linear regression continues to be a top choice among ML practitioners for a regression task. For the past three years, over 80% of the respondents to Kaggle’s annual state of data science and machine learning survey mentioned linear regression as a ML algorithm they most frequently use. IBM Db2 provides an in-database stored procedure (SP) for Linear Regression as part of its ML library, which is a collection of over 200 SPs for performing different ML tasks in the database. Using the linear regression SP and other functionality of DB2’s ML Library, ML practitioners can build and deploy linear regression models in the database when their ML dataset is available in a Db2 database. In this post, I will show you the following steps of building and using a linear regression pipeline using SQL with a Db2 database:
Let’s begin.
The Regression Task
In this exercise, I will use the GoSales dataset, which is available from this link.

## Step 2: Chunking the Clean Text for Embedding

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:
def overlapping_sentence_chunker(text, max_words=200, overlap_words=50):
    doc = nlp(text)
    sentences = [sent.text.strip() for sent in doc.sents if sent.text.strip()]
    
    chunks = []
    current_chunk = []
    current_length = 0

    i = 0
    while i < len(sentences):
        sentence = sentences[i]
        sentence_length = len(sentence.split())

        if current_length + sentence_length <= max_words:
            current_chunk.append(sentence)
            current_length += sentence_length
            i += 1
        else:
            chunks.append(" ".join(current_chunk))
            # Start new chunk with overlap
            overlap = []
            overlap_len = 0
            j = len(current_chunk) - 1
            while j >= 0 and overlap_len < overlap_words:
                s = current_chunk[j]
                overlap.insert(0, s)
                overlap_len += len(s.split())
                j -= 1
            current_chunk = overlap
            current_length = overlap_len

    if current_chunk:
        chunks.append(" ".join(current_chunk))

    return chunks

In [5]:
chunks = overlapping_sentence_chunker(article, max_words=200, overlap_words=50)
print(f"{len(chunks)} chunks created.")
print(chunks[0])

15 chunks created.
Despite being one of the earlier machine learning techniques, linear regression continues to be a top choice among ML practitioners for a regression task. For the past three years, over 80% of the respondents to Kaggle’s annual state of data science and machine learning survey mentioned linear regression as a ML algorithm they most frequently use. IBM Db2 provides an in-database stored procedure (SP) for Linear Regression as part of its ML library, which is a collection of over 200 SPs for performing different ML tasks in the database. Using the linear regression SP and other functionality of DB2’s ML Library, ML practitioners can build and deploy linear regression models in the database when their ML dataset is available in a Db2 database. In this post, I will show you the following steps of building and using a linear regression pipeline using SQL with a Db2 database:
Let’s begin. The Regression Task
In this exercise, I will use the GoSales dataset, which is available from this link. The dataset has 60252 synthetic customers’ profile and their purchase amount at an imaginary outdoor equipment store.

## Generating Embedding Vectors

In [6]:
embedding_model = Llama(model_path="models/granite-embedding-30m-english-Q6_K.gguf", embedding=True, verbose=False)

In [7]:
embeddings = embedding_model.create_embedding(chunks)

In [8]:
for text, item in zip(chunks, embeddings["data"]):
    print(f"Text: {text}")
    print("Embedding (partial):", item["embedding"][:12], "...\n")

Text: Despite being one of the earlier machine learning techniques, linear regression continues to be a top choice among ML practitioners for a regression task. For the past three years, over 80% of the respondents to Kaggle’s annual state of data science and machine learning survey mentioned linear regression as a ML algorithm they most frequently use. IBM Db2 provides an in-database stored procedure (SP) for Linear Regression as part of its ML library, which is a collection of over 200 SPs for performing different ML tasks in the database. Using the linear regression SP and other functionality of DB2’s ML Library, ML practitioners can build and deploy linear regression models in the database when their ML dataset is available in a Db2 database. In this post, I will show you the following steps of building and using a linear regression pipeline using SQL with a Db2 database:
Let’s begin. The Regression Task
In this exercise, I will use the GoSales dataset, which is available from this link. The dataset has 60252 synthetic customers’ profile and their purchase amount at an imaginary outdoor equipment store.
Embedding (partial): [-0.2705141305923462, -0.29837024211883545, 3.617060899734497, -1.5401177406311035, 3.0441579818725586, -0.6652486324310303, -1.4385193586349487, -0.38645970821380615, 1.7064034938812256, 2.6135401725769043, -0.4143952429294586, -0.9539514183998108] ...

Text: In this post, I will show you the following steps of building and using a linear regression pipeline using SQL with a Db2 database:
Let’s begin. The Regression Task
In this exercise, I will use the GoSales dataset, which is available from this link. The dataset has 60252 synthetic customers’ profile and their purchase amount at an imaginary outdoor equipment store. The following is the list of columns in the dataset:
I want to learn a multiple linear regression function of the following equation form that will use as input the first four columns — AGE, MARITAL_STATUS, and PROFESSION — and predict the PURCHASE_AMOUNT. Using the training examples, the linear regression algorithm will learn the values of the following five parameters — the first one is the intercept and the remaining are four coefficients, one per input column. Following these steps, I created a Db2 table with the name GOSALES_FULL under GOSALES schema and loaded the dataset into it. Train / Test Split
First, I will divide the records from the GOSALES_FULL table into two partitions: a training partition and a test partition. For making these partitions, I will call the SPLIT_DATA stored procedure (SP) as follows.
Embedding (partial): [-0.6316127181053162, -1.0422494411468506, 1.3213083744049072, -1.6151585578918457, 1.7298030853271484, -1.1513350009918213, -1.0865113735198975, -1.0979628562927246, 2.40102481842041, 1.6998119354248047, 1.4956462383270264, -0.6277296543121338] ...

Text: Following these steps, I created a Db2 table with the name GOSALES_FULL under GOSALES schema and loaded the dataset into it. Train / Test Split
First, I will divide the records from the GOSALES_FULL table into two partitions: a training partition and a test partition. For making these partitions, I will call the SPLIT_DATA stored procedure (SP) as follows. CALL IDAX.SPLIT_DATA('intable=GOSALES.GOSALES_FULL, id=ID, traintable=GOSALES.GOSALES_TRAIN, testtable=GOSALES.GOSALES_TEST, fraction=0.8, seed=1') These are the parameters I passed to this SP: (1) intable: the input table from which I want to create partitions. The value is GOSALES_FULL; (2) id: the name of the id column in the input table; (3) traintable: the name I want to give to the table that will have the training records; (4) testtable: the name of the output table where the SP will store the test records; (5) fraction: the portion of the records that I want in the training partition; (6) seed: I can set a value for reproducibility of the same partitions. The SP will randomly divide records from the GOSALES_FULL table into two output tables: GOSALES_TRAIN and GOSALES_TEST. The following two SQL statements will count the number of records in these two tables.
Embedding (partial): [-1.1674954891204834, 0.651764988899231, 0.688299834728241, -1.5352256298065186, 1.4445104598999023, 0.46495747566223145, -1.995290756225586, -2.0386345386505127, 3.3424839973449707, -1.0567870140075684, 1.9267780780792236, -1.0037881135940552] ...

Text: The value is GOSALES_FULL; (2) id: the name of the id column in the input table; (3) traintable: the name I want to give to the table that will have the training records; (4) testtable: the name of the output table where the SP will store the test records; (5) fraction: the portion of the records that I want in the training partition; (6) seed: I can set a value for reproducibility of the same partitions. The SP will randomly divide records from the GOSALES_FULL table into two output tables: GOSALES_TRAIN and GOSALES_TEST. The following two SQL statements will count the number of records in these two tables. SELECT count(*) FROM GOSALES.GOSALES_TRAIN
SELECT count(*) FROM GOSALES.GOSALES_TEST
The above counts confirm that the train and test tables have 80% and 20% of records, respectively, from the original table with 60252 records. Data Exploration
Now, I will look into some sample records from the training dataset, GOSALES_TRAIN. SELECT * FROM GOSALES.GOSALES_TRAIN FETCH FIRST 5 ROWS ONLY
From the above sample records, I get a feel for the customer records I will work with. Next, I will generate summary statistics of the entire training set using SUMMARY1000 SP:
CALL IDAX.SUMMARY1000('intable=GOSALES.GOSALES_TRAIN, outtable=GOSALES.GOSALES_TRAIN_SUM1000, incolumn=GENDER;AGE;MARITAL_STATUS;PROFESSION')
Embedding (partial): [0.5690323114395142, -0.8686362504959106, 1.738566517829895, 0.3102778196334839, 0.34752774238586426, -0.08756399154663086, -1.8359187841415405, -0.5431548357009888, 1.2985225915908813, -1.1961960792541504, 0.8922017812728882, -0.6628283858299255] ...

Text: Data Exploration
Now, I will look into some sample records from the training dataset, GOSALES_TRAIN. SELECT * FROM GOSALES.GOSALES_TRAIN FETCH FIRST 5 ROWS ONLY
From the above sample records, I get a feel for the customer records I will work with. Next, I will generate summary statistics of the entire training set using SUMMARY1000 SP:
CALL IDAX.SUMMARY1000('intable=GOSALES.GOSALES_TRAIN, outtable=GOSALES.GOSALES_TRAIN_SUM1000, incolumn=GENDER;AGE;MARITAL_STATUS;PROFESSION') In this SP call, intable parameter has the name of the training table from which I wanted to gather summary statistics. outtable parameter has the name of the output table where I want the SP to save the summary statistics of the entire training table. In the incolumn parameter, I list the columns whose statistics I want to collect. I am calling this SP with these parameters: (1) intable: name of the table whose sumary statistics I want to gather, the training partition in this case; (2) outtable: name of the table where I want the SP to store the overall summary statistics, (3) incolumn: list of columns whose statistics I want to collect.
Embedding (partial): [1.724369764328003, 0.5899183750152588, 1.9859778881072998, 1.470940113067627, -0.6918668746948242, 0.0038404464721679688, -2.051774501800537, -2.65948748588562, -0.14065110683441162, -1.8984001874923706, 0.0734562873840332, 1.5980373620986938] ...

Text: I am calling this SP with these parameters: (1) intable: name of the table whose sumary statistics I want to gather, the training partition in this case; (2) outtable: name of the table where I want the SP to store the overall summary statistics, (3) incolumn: list of columns whose statistics I want to collect. SUMMARY1000 SP saves the collected statistics from the training table in three output tables: (1) GOSALES_TRAIN_SUM1000: has summary statistics of all columns listed in the incolumn parameter; (2) GOSALES_TRAIN_SUM1000_NUM: has summary statistics of only the numeric columns from the incolumn parameter, (3) GOSALES_TRAIN_SUM1000_CHAR: has summary statistics of categorical columns from the incolumn parameter. For the ease of viewing, I will look at the summary statistics of each column type separately — first the numeric type and then nominal type. SELECT * FROM GOSALES.GOSALES_TRAIN_SUM1000_NUM The dataset has one numeric feature column, AGE. This summary table has provides a range of statistics, such as mean, variance, skewness. Also, the table reports that the AGE column has 1878 missing values. Similarly, I find the following summary statistics from the GOSALES.GOSALES_TRAIN_SUM1000_CHAR table.
Embedding (partial): [1.8275442123413086, 0.1317017674446106, 3.656879425048828, 1.6801018714904785, -0.8150551915168762, -1.791543960571289, -0.6924350261688232, -3.982452154159546, -0.9168041944503784, -1.577769160270691, -0.7550859451293945, 1.0993341207504272] ...

Text: For the ease of viewing, I will look at the summary statistics of each column type separately — first the numeric type and then nominal type. SELECT * FROM GOSALES.GOSALES_TRAIN_SUM1000_NUM The dataset has one numeric feature column, AGE. This summary table has provides a range of statistics, such as mean, variance, skewness. Also, the table reports that the AGE column has 1878 missing values. Similarly, I find the following summary statistics from the GOSALES.GOSALES_TRAIN_SUM1000_CHAR table. SELECT * FROM GOSALES.GOSALES_TRAIN_SUM1000_CHAR
From this summary, I can see that all three nominal columns have some missing values. Data Preprocessing
From data exploration, I identified two kinds of data preprocessing tasks: handling missing values and dealing with nominal columns. In this step, I will address both tasks. Dealing with missing values
I will replace missing values in the training dataset using IMPUTE_DATA SP. This SP supports replacing missing values with one of the four methods: mean, median, most frequent value, or a constant. All four methods work with numeric columns, whereas only the last two methods apply to nominal columns. AGE column: I will replace missing values in the AGE column with the mean age value:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, incolumn=AGE, method=mean')
Embedding (partial): [1.9391002655029297, -0.040575623512268066, 3.0040030479431152, 0.9745398759841919, 2.261876106262207, -1.3090643882751465, 0.07904928922653198, -0.6328096389770508, -1.497769832611084, -0.9337043762207031, 0.10596895217895508, -0.15925414860248566] ...

Text: This SP supports replacing missing values with one of the four methods: mean, median, most frequent value, or a constant. All four methods work with numeric columns, whereas only the last two methods apply to nominal columns. AGE column: I will replace missing values in the AGE column with the mean age value:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, incolumn=AGE, method=mean') In the above SP call, I passed three parameters: (1) intable: the name of the input table, which is GOSALES_TRAIN, (2) incolumn: the name of the column for imputing missing values. AGE is the column name. (3) method: a supported imputation strategy. I chose mean.) Similarly, the following SP calls will replace missing values in GENDER, MARITAL_STATUS, and PROFESSION columns with the most frequent value of each column. I looked up the most frequent values of each column from the GOSALES_TRAIN_SUM1000_CHAR table that was created during the data exploration step. Imputing missing values in the GENDER column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, method=replace, nominalValue=M, incolumn=GENDER') Imputing missing values in the MARITAL_STATUS column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, method=replace, nominalValue=Married, incolumn=MARITAL_STATUS')
Embedding (partial): [0.22937703132629395, 3.393791675567627, 4.02763032913208, 0.3009425103664398, 0.002567112445831299, -0.5185493230819702, -1.054365634918213, -2.6164681911468506, 1.4903947114944458, -0.2640853524208069, -1.2857129573822021, 0.6674286127090454] ...

Text: Similarly, the following SP calls will replace missing values in GENDER, MARITAL_STATUS, and PROFESSION columns with the most frequent value of each column. I looked up the most frequent values of each column from the GOSALES_TRAIN_SUM1000_CHAR table that was created during the data exploration step. Imputing missing values in the GENDER column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, method=replace, nominalValue=M, incolumn=GENDER') Imputing missing values in the MARITAL_STATUS column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, method=replace, nominalValue=Married, incolumn=MARITAL_STATUS') Imputing missing values in the PROFESSION column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TRAIN, method=replace, nominalValue=Other, incolumn=PROFESSION')
By running the following SQL statement, I can confirm that the AGE column in the training dataset is now free of any missing values:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE AGE IS NULL
Similarly, the following statements will count missing values in GENDER, MARITAL_STATUS, and PROFESSION columns. All of them no longer have any missing value. Count missing values in the GENDER COLUMN:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE GENDER IS NULL
Count missing values in the MARITAL_STATUS column:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE MARITAL_STATUS IS NULL
Count missing values in the PROFESSION column:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE PROFESSION IS NULL
Dealing with nominal columns
Linear regression algorithm requires that all its input columns are numeric.
Embedding (partial): [1.4102089405059814, 3.5528411865234375, 4.500090599060059, 1.3052136898040771, 0.38854992389678955, -0.2343451976776123, -0.4038812220096588, -0.6452935338020325, -0.193708598613739, 0.2892957925796509, -1.958526611328125, -0.7278369069099426] ...

Text: Count missing values in the GENDER COLUMN:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE GENDER IS NULL
Count missing values in the MARITAL_STATUS column:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE MARITAL_STATUS IS NULL
Count missing values in the PROFESSION column:
SELECT count(*) FROM GOSALES.GOSALES_TRAIN WHERE PROFESSION IS NULL
Dealing with nominal columns
Linear regression algorithm requires that all its input columns are numeric. So, before invoking a linear regression algorithm, ML practitioners convert any non-numeric columns to numbers following some encoding scheme — such as 1-hot encoding. The linear regression SP of Db2 can natively handle nominal columns. When the input table has any nominal column, the SP internally converts it into a set of numeric columns using 1-hot encoding. So, I can leave the three nominal columns — GENDER, MARITAL_STATUS, and PROFESSION — as-is and let the SP take care of them. Now, the GOSALES_TRAIN dataset is ready for model training. Model Training
The following call to the LINEAR_REGRESSION SP will begin training of a linear regression model using training examples from the GOSALES_TRAIN table. The SP will use the list of columns mentioned in the incolum paramter as input features and the column from the target parameter as the output column.
Embedding (partial): [1.4032692909240723, -0.04158550500869751, 4.619534015655518, -0.23295611143112183, 2.417262554168701, -1.371084213256836, -0.3849913477897644, -0.7475572228431702, -0.25856471061706543, -0.3691386878490448, -0.9595062732696533, -0.034464627504348755] ...

Text: Model Training
The following call to the LINEAR_REGRESSION SP will begin training of a linear regression model using training examples from the GOSALES_TRAIN table. The SP will use the list of columns mentioned in the incolum paramter as input features and the column from the target parameter as the output column. Since the intercept parameter is set to true, the SP will learn the value of intercept. CALL IDAX.LINEAR_REGRESSION('model=GOSALES.GOSALES_LINREG, intable=GOSALES.GOSALES_TRAIN, id=ID, target=PURCHASE_AMOUNT,incolumn=AGE;GENDER;MARITAL_STATUS;PROFESSION, intercept=true') After the training completes, the SP will add the new model, GOSALES_LINREG, to Db2’s model catalog. The following SP call will show the list of existing models in the catalog, which now includes my new model. CALL IDAX.LIST_MODELS('format=short, all=true')
Additionally, the LINEAR_REGRESSION SP saves the learned values of intercept and the coefficients, along with several other learned parameter values, in a table. The table’s name takes this form: MODELNAME_MODEL. For the GOSALES_LINREG model, the name of its metadata table is GOSALES_LINREG_MODEL. The following SQL will display the values of the learned model parameters. SELECT VAR_NAME, LEVEL_NAME, VALUE FROM GOSALES.GOSALES_LINREG_MODEL You may have noticed that the above output has more feature columns than what I originally had in the training set.
Embedding (partial): [-1.3670271635055542, 0.22973984479904175, 3.918409824371338, -2.400296211242676, 0.9902483224868774, -0.7532920837402344, 0.2996814250946045, -0.9454855918884277, 2.3948488235473633, 0.4055037498474121, -0.04382789134979248, -0.8120542764663696] ...

Text: For the GOSALES_LINREG model, the name of its metadata table is GOSALES_LINREG_MODEL. The following SQL will display the values of the learned model parameters. SELECT VAR_NAME, LEVEL_NAME, VALUE FROM GOSALES.GOSALES_LINREG_MODEL You may have noticed that the above output has more feature columns than what I originally had in the training set. Because LINEAR_REGRESSION SP has applied 1-hot encoding on the nominal columns, the final feature set has one feature for each distinct value in the nominal columns. Generating Predictions with the Model In this step, I will use the GOSALES_LINREG model to predict the purchase amount of the customers in the GOSALE_TEST table. Before generating predictions, I will preprocess this dataset using the preprocessing steps I had used with the training dataset, which were imputing missing values. I will use the following SQL statements to impute missing values in AGE, GENDER, MARITAL_STATUS, and PROFESSION columns of the test dataset. Imputing missing values in the AGE column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=mean, incolumn=AGE') Imputing missing values in the GENDER column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=replace, nominalValue=M, incolumn=GENDER')
Imputing missing values in the MARITAL_STATUS column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=replace, nominalValue=Married, incolumn=MARITAL_STATUS')
Embedding (partial): [1.7691915035247803, 0.9187219142913818, 4.077812194824219, 1.307729959487915, 0.001743018627166748, -1.551095962524414, 1.5203049182891846, -1.0888124704360962, -1.4882519245147705, -0.26697850227355957, -1.3621149063110352, 0.5872418880462646] ...

Text: I will use the following SQL statements to impute missing values in AGE, GENDER, MARITAL_STATUS, and PROFESSION columns of the test dataset. Imputing missing values in the AGE column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=mean, incolumn=AGE') Imputing missing values in the GENDER column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=replace, nominalValue=M, incolumn=GENDER')
Imputing missing values in the MARITAL_STATUS column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=replace, nominalValue=Married, incolumn=MARITAL_STATUS') Imputing missing values in the PROFESSION column:
CALL IDAX.IMPUTE_DATA('intable=GOSALES.GOSALES_TEST, method=replace, nominalValue=Other, incolumn=PROFESSION')

## Inserting Vectors into Db2

In [9]:
db2creds = dotenv_values('.env')
%sql CONNECT CREDENTIALS db2creds

%sql DROP TABLE IF EXISTS embeddings

SQL_CREATE_TABLE = """
CREATE TABLE embeddings (
    id INT NOT NULL GENERATED ALWAYS AS IDENTITY 
        (START WITH 1, INCREMENT BY 1),
    content CLOB,
    embedding VECTOR(384, FLOAT32),
    PRIMARY KEY (id)
)
"""
%sql {SQL_CREATE_TABLE}

# Prepare values: list of tuples (content, embedding_vector_str)
values = []
for i, (text, item) in enumerate(zip(chunks, embeddings["data"])):
    embedding = item.get("embedding")
    if embedding and len(embedding) == 384:
        vector_str = "[" + ", ".join(map(str, embedding)) + "]"
        values.append((text, vector_str))
    else:
        print(f"Skipping row {i+1}: invalid embedding")

# Prepare SQL statement with VECTOR function
stmt = %sql prepare INSERT INTO embeddings (content, embedding) VALUES (?, VECTOR(?, 384, FLOAT32))

# Disable autocommit
%sql autocommit off

# Execute prepared insert statement using magic-style loop
for content, vector_str in values:
    %sql execute :stmt using :content, :vector_str

# Commit the work
%sql commit work

# Enable autocommit back
%sql autocommit on

Connection successful. SAMPLE @ localhost
Command completed.
Command completed.

# Ask LLM

In [10]:
question = "How to build a linear regression model using IDAX?"
# question = 'How to see the list of in database ML models in Db2?'
# question = 'How to impute missing values of columns in Db2?'
# query = 'What is Python UDF?'

embedding = embedding_model.create_embedding(question)
query_vector = embedding['data'][0]['embedding']

## Vector Search and Context Retrieval (Db2)

In [11]:
# Step 1: Format query embedding for Db2
query_embedding_str = '[' + ', '.join(map(str, query_vector)) + ']'
top_k = 5  # You can adjust this number

# Step 2: SQL to get top-k most similar chunks based on Euclidean distance
SQL_DISTANCE = f"""
SELECT 
    content AS CONTEXT,
    VECTOR_DISTANCE(
        VECTOR('{query_embedding_str}', 384, FLOAT32),
        embedding,
        EUCLIDEAN
    ) AS DISTANCE
FROM embeddings
ORDER BY DISTANCE ASC
FETCH FIRST {top_k} ROWS ONLY
"""

# Step 3: Run the query with db2magic and store the result in a DataFrame
result_df = %sql {SQL_DISTANCE}

# Step 4: Combine all top-k text chunks into a single context string
context_str = "\n\n".join(result_df["CONTEXT"].tolist())

## LLM setup

In [12]:


load_dotenv(os.getcwd()+"/.env", override=True)

# llm for generating responses
def get_llm():
    # model_id = 'meta-llama/llama-3-1-70b-instruct'
    model_id = 'mistralai/mistral-large'
    parameters = {
        GenParams.MAX_NEW_TOKENS: 512,
        GenParams.TEMPERATURE: 0.6,
    }
   
    watsonx_llm = WatsonxLLM(
        model_id=model_id,
        url="https://us-south.ml.cloud.ibm.com",
        apikey=os.getenv("WATSONX_APIKEY", ""),
        project_id=os.getenv("WATSONX_PROJECT", ""),
        params=parameters,
    )
    return watsonx_llm
    
llm = get_llm()

## Prompt Template

In [13]:
prompt_template = """
You are a knowledgeable assistant. Answer the question based solely on the provided context.
- If the context contains the answer, respond directly to the reader using 'you' to make it personal.
- If the answer includes code, provide an explanation of the code following the code block.
- If the information is not available in the context, respond with 'The information is not available in the provided context.'

Context:
{context}

Question:
{question}

Answer:
""".strip()

### Generate an Answer Using wx.ai

In [14]:
# Custom prompt template (no LangChain needed)
prompt_template = """
You are a knowledgeable assistant. Answer the question based solely on the provided context.
- If the context contains the answer, respond directly to the reader using 'you' to make it personal.
- If the answer includes code, provide an explanation of the code following the code block.
- If the information is not available in the context, respond with 'The information is not available in the provided context.'

Context:
{context}

Question:
{question}

Answer:
""".strip()

# Fill the template
prompt = prompt_template.format(context=context_str, question=question)

# Call Watsonx LLM
response = llm(prompt)

# Display the result
from IPython.display import Markdown, display

display(Markdown(f"**Q:** {question}\n\n**A:** {response}"))

**Q:** How to build a linear regression model using IDAX?

**A:**
To build a linear regression model using IDAX, you can use the `LINEAR_REGRESSION` stored procedure (SP) provided by IBM Db2. Here is the SQL call to train a linear regression model:

```sql
CALL IDAX.LINEAR_REGRESSION('model=GOSALES.GOSALES_LINREG, intable=GOSALES.GOSALES_TRAIN, id=ID, target=PURCHASE_AMOUNT, incolumn=AGE;GENDER;MARITAL_STATUS;PROFESSION, intercept=true');
```

This code specifies the parameters for the linear regression model, including the table containing the training data (`intable=GOSALES.GOSALES_TRAIN`), the target column (`target=PURCHASE_AMOUNT`), and the input features (`incolumn=AGE;GENDER;MARITAL_STATUS;PROFESSION`). The `intercept=true` parameter means that the model will learn the value of the intercept.

After the training completes, the new model `GOSALES_LINREG` will be added to Db2’s model catalog. You can list the existing models in the catalog with the following call:

```sql
CALL IDAX.LIST_MODELS('format=short, all=true');
```

Additionally, the learned values of the intercept and the coefficients, along with other learned parameter values, are saved in a table named `GOSALES_LINREG_MODEL`. You can display these values using the following SQL query:

```sql
SELECT VAR_NAME, LEVEL_NAME, VALUE FROM GOSALES.GOSALES_LINREG_MODEL;
```

This process allows you to build and manage a linear regression model directly within the Db2 database.